.wp-block-prism-code-editor {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}
.wp-block-prism-code-editor .textEntry {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: solid 1px #ddd;
    border-radius: 0;
}